Experimental data/Vicon/Vicon files/**
Experimental data/data.mat
Experimental data/*.asv
Experimental data/Spline test/**
Model/7Seg/Tests/AUTOZ/Test1/autoz/**
*.obj
*.exe
*.docx
BM-D-21-00074.pdf
BM-D-21-00074_R1.pdf
BM-D-21-00074_R2.pdf
*.zip